<!DOCTYPE html>
<html lang="pt-BR" ng-app="Main">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Amil Teste Front-End</title>
      <link href="css/style.css" rel="stylesheet" type="text/css" />
      <link href="css/grid-amil.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
      <script src="https://use.fontawesome.com/cb757638ab.js"></script>
    </head>

    <body>
        <div id="wrap">
            <section class="container_12" id="cadUsuario" ng-controller="UsuarioCadastroController">
                <h1 class="push_2 grid_8">Cadastro de Usuário</h1>
                <form class="push_2 grid_8" id="formUsuario" name="formUsuario" >
                    <ul>
                        <li>
                            <input ng-model="usuario.nome" type="text" id="nome" placeholder=""/>
                        </li>
                        <li>
                            <input ng-model="usuario.tel"type="text" id="tel" placeholder=""/>
                        </li>
                        <li>
                            <input ng-model="usuario.email" type="email" name="input" id="email" placeholder="" /> 
                            <span class="error" ng-show="formUsuario.input.$error.email"><i class="fa fa-exclamation-triangle"></i>E-mail em formato inválido!</span>
                        </li>
                        <li>
                            <input type="submit" class="" ng-click="submeter(usuario)"  value="Salvar"/>
                        </li>
                    </ul>
                </form>
                <div class="clearfix"></div>
                <div class="push_2 grid_8" id="listaUsuario">
                    <ul>
                        <li ng-repeat="master in masters track by $index">
                            <p>{{master.usuario.nome}}</p>
                            <span>{{master.usuario.tel}} - <a href="mailto:{{master.usuario.email}}">{{master.usuario.email}}</a></span>
                        </li>
                    </ul>
                </div>
            </section>
               
            <div id="scripts">
              <script src="scripts/angular.min.js" type="text/javascript"></script>
              <script src="scripts/angular-route.min.js" type="text/javascript"></script>
              <script src="scripts/main.js"></script>
              <script src="scripts/controller/cadastra-usuario-controller.js" charset="utf-8"></script>
              <script src="scripts/jquery-1.11.1.min.js" charset="utf-8"></script>
              <script src="scripts/jquery.maskedinput.min.js" charset="utf-8"></script>
              <script>
              </script>
                
            </div>
        </div>
    </body>
</html>
